<div class="col-12 mt-5 bg-dark text-white">
    <footer>
        <div class="row">
            <div class="col-6">
                <div class="p-3 text-white">
                    <ul class="p-0">
                        <li class="font-md">Customer Care</li>
                        <li class="p-0 m-0">Help Center</li>
                        <li class="p-0 m-0">How to Buy</li>
                        <li class="p-0 m-0">Shipping & Delivery</li>
                        <li class="p-0 m-0">Return & Refund</li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3 text-white">
                    <ul class="p-0">
                        <li class="font-md">Company Name</li>
                        <li class="p-0 m-0">About Us</li>
                        <li class="p-0 m-0">Careers</li>
                        <li class="p-0 m-0">Terms & Conditions</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>