<div class="row primary-text-color">
    <div class="col-12 font-md">
        Brand
    </div>
</div>
<div class="row primary-text-color">
    <div class="col-12 font-sm pl-5">
        <i class="fa fa-circle font-xs"></i> Brand
    </div>
</div>
<div class="row mt-3 primary-text-color">
    <div class="col-12 font-md">
        Condition
    </div>
</div>
<div class="row primary-text-color">
    <div class="col-12 font-sm pl-5">
        <i class="fa fa-circle font-xs"></i> New
    </div>
</div>
<div class="row mt-3 primary-text-color">
    <div class="col-12 font-md">
        Condition
    </div>
</div>
<div class="row primary-text-color">
    <div class="col-12 font-sm pl-5">
        <i class="fa fa-circle font-xs"></i> New
    </div>
</div>
<div class="row mt-3 primary-text-color">
    <div class="col-12 font-md">
        Condition
    </div>
</div>
<div class="row primary-text-color">
    <div class="col-12 font-sm pl-5">
        <i class="fa fa-circle font-xs"></i> New
    </div>
</div>
<div class="row mt-3 primary-text-color">
    <div class="col-12 font-md">
        Condition
    </div>
</div>
<div class="row primary-text-color">
    <div class="col-12 font-sm pl-5">
        <i class="fa fa-circle font-xs"></i> New
    </div>
</div>
<div class="row mt-3 primary-text-color">
    <div class="col-12 font-md">
        Condition
    </div>
</div>
<div class="row primary-text-color">
    <div class="col-12 font-sm pl-5">
        <i class="fa fa-circle font-xs"></i> New
    </div>
</div>