/* Make the suggestion list float above the other elements */
.list-group {
  overflow-y: auto;  /* Allow scrolling when items exceed max height */
  z-index: 1000;     /* Ensure the dropdown is on top */
  background-color: #fff; /* Ensure it's visible */
  border: 1px solid #ddd; /* Add a border to the floating box */
}
  
/* Make sure it looks like a dropdown */
.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f0f0f0;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Slightly visible background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure it's on top */
}

.loading-logo {
  text-align: center;
}

.loading-logo img {
  max-width: 200px; /* Adjust as needed */
  position: absolute;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--primary-highlight-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}