<div class="dropdown">
    <!-- Label for the input -->
    <label [class]="labelClass">{{ label }}</label>
    <input type="text" class="form-control" [class]="error ? 'border-danger': ''" [disabled]="disabled" placeholder="Enter {{ label }}" [(ngModel)]="searchText" (ngModelChange)="onSearchTextChanged()">
  
    <ul class="list-group mt-2 position-absolute w-100" *ngIf="filteredData.length">
        <li *ngFor="let item of filteredData" class="list-group-item" (click)="onSelect(item)">
        {{ item[field] }}
        </li>
    </ul>
</div>