.sticky-buy-options {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white; /* Ensure background color matches the page */
    /* padding: 15px; */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for emphasis */
    z-index: 999; /* Ensure it's on top of other content */
    /* display: flex; */
    /* justify-content: space-around; Space buttons evenly */
    border-top: 1px solid #ddd; /* Optional border */
}

/* Button styles */
.sticky-buy-options .btn {
    padding: 5px 0px 5px;
    font-size: 12px;
    flex: 1; /* Equal width for both buttons */
    margin: 0 10px;
}