

<div class="col-12">
    <app-header></app-header>
    <div class="container">
        <div class="row mt-2 mb-2">
            <div class="col-12 d-flex justify-content-center">
                <img src="assets/404.PNG" width="100%">
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h3>Sorry, the page you're trying to access is not found</h3>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>