

<div class="col-12">
    <app-header></app-header>
    <div class="container">
        <div class="row mt-2 mb-2">
            <div class="col-12 d-flex align-items-center justify-content-center p-0">
                <button class="btn bg-primary-highlight-color w-100 text-white" (click)="addShippingAddress()"><i class="fa fa-plus"></i> Add Shipping Address</button>
            </div>
        </div>
        <div class="row mb-2 border border-secondary" *ngFor="let address of addresses">
            <div class="col-12 pt-2 pb-2" (click)="isSelectAddress ? selectAddress(address.id) : ''">
                <div class="d-flex justify-content-between">
                    <div>
                        <span *ngIf="address.isDefaultDeliveryAddress" class="badge badge-success ml-0 mr-1">Default Delivery Address</span>
                    </div>
                    <div>
                        <span class="cursor-pointer" (click)="updateAddress(address)"><i class="fa fa-pencil mr-2"></i></span>
                        <span class="cursor-pointer" (click)="deleteAddress(address)"><i class="fa fa-trash"></i></span>
                    </div>
                </div>
                <div [innerHTML]="displayAddress(address, 'BlockLotFloorBuildingName')"></div>
                <div [innerHTML]="displayAddress(address, 'StreetAddress')"></div>
                <div [innerHTML]="displayAddress(address, 'Barangay')"></div>
                <div [innerHTML]="displayAddress(address, 'City/Municipality')"></div>
                <div [innerHTML]="displayAddress(address, 'Province')"></div>
                <div [innerHTML]="displayAddress(address, 'Region')"></div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>